<mat-card class="my-3">
    <mat-card-header class="justify-content-center">
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.date | date}}</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content class="my-3">
        <!-- <p>{{post.body}}</p> -->
        <div [innerHTML]='post.body'></div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="card-footer">        

        <div>
            <a routerLink='/' mat-icon-button matTooltip='View'>
                <mat-icon color='primary'>reply</mat-icon>
            </a>

            <!-- <button mat-icon-button matTooltip='Edit'> -->
            <a [routerLink]="['/post-edit', post.id]" mat-icon-button matTooltip='Edit'>
                <mat-icon color='orange'>create</mat-icon>
            </a>

            <button mat-icon-button matTooltip='Delete' (click)='deletePost(post.id)'>
                  <mat-icon color='warn'>delete</mat-icon>
                </button>
        </div>
    </mat-card-actions>

</mat-card>
<form #commentForm='ngForm' (submit)='addComment(commentForm)'>
    <mat-card-subtitle>Comments:</mat-card-subtitle>
    <mat-nav-list>
        <div *ngFor='let comment of post.comments'>
            <a mat-list-item>
      {{comment.name}}
    </a>
            <mat-divider></mat-divider>
        </div>
    </mat-nav-list>
    <textarea matInput #comment='ngModel' ngModel name="comment" required></textarea>
    <button mat-raised-button type="submit" class="mt-4" color="accent">ADD</button>

</form>