<app-toolbar *ngIf='layoutConfig.toolbarMode == "fixed"' (menuToggle)='sideNav.toggle()'></app-toolbar>

<mat-sidenav-container>
    <!-- <mat-sidenav mode='push' #sideNav> -->
    <mat-sidenav [mode]='layoutConfig.sidenavMode' [position]='layoutConfig.sidenavPosition' [style.backgroundColor]='layoutConfig.sidenavBgColor' #sideNav>
        <app-sidenav (menuClose)='sideNav.close()'></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-toolbar *ngIf='layoutConfig.toolbarMode != "fixed"' (menuToggle)='sideNav.toggle()'></app-toolbar>

        <div class="container">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>